body {
  background-color: antiquewhite;
}

.worked {
  color: whitesmoke;
  background-color: #543310;
  font-weight: normal;
}

p {
  text-align: justify;
  margin-top: 0;
}
h2, h3, ul, .roles {
  margin-bottom: 4px;
}
ul {
  margin-top: 0px;
}